.product-detail{
  padding: 32px;

  .detail-data{
    padding-left: 32px;
  }

  .img-styles{
    max-height: 680px;
    display: flex;
    align-items: flex-start;
  }

  .image{
    max-height: 680px;
    width: 680px;
  }

  .sold-product{
    font-size: 14px;
  }

  .name-product{
    font-weight: bold;
    margin-bottom: 32px;
  }

  .price-product{
    font-size: 46px;
    margin-bottom: 32px;
  }

  .buy-product{
    padding-right: 32px;
  }

  .description-product{
    font-size: 28px;
    margin: 32px 0;
  }
}
