.product-detail{
  padding: 32px;

  .detail-data{
    padding-left: 32px;

    @media (max-width: 767.98px) {
      padding-left: 0;
    }
  }

  .img-styles{
    max-height: 680px;
    display: flex;
    align-items: flex-start;
  }

  .image{
    max-height: 680px;
    width: 680px;

    @media (max-width: 767.98px) {
      width: 100%;
    }
  }

  .sold-product{
    font-size: 14px;
  }

  .name-product{
    font-weight: bold;
    margin-bottom: 32px;
  }

  .price-product{
    font-size: 46px;
    margin-bottom: 32px;
  }

  .buy-product{
    padding-right: 32px;

    @media (max-width: 767.98px) {
      padding-right: 0;
    }
  }

  .description-title{
    font-size: 28px;
    margin: 32px 0;
  }

  .description{
    @media (max-width: 767.98px) {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
