@import '../../styles/globals.scss';

.item{
  .image{
    max-width: 180px;
  }

  .price{
    margin-bottom: 32px;
  }

  .description{
    font-size: 18px;
  }

  .location{
    font-size: 12px;
    color: $grey;
  }
}
