@import '../../styles/globals.scss';

.item{
  figure{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 180px;
      height: 180px;  
    }
  }

  .price{
    margin-bottom: 32px;
  }

  .description{
    font-size: 18px;
  }

  .location{
    font-size: 12px;
    color: $grey;
  }
}
