@import '../../styles/globals.scss';

.bg-yellow{
  background-color: $yellow;

  .fs-placeholder{
    font-size: 18px;
  }

  .form-control:focus{
    box-shadow: none;
  }

  .input-group-text{
    cursor: pointer;
    transition: $easy-in-out;

    &:hover,
    &.hover{
      background-color: white;
    }
  }
}
